.rigth-befor {
    padding-top: 150px;
    padding-left: 120px;
}

.rigth-befor h1 {
    font-size: 42px;
}

.rigth-befor h1,
.rigth-befor p, .rigth-befor .img {
    text-align: center;

}

.rigth-befor .img {
    padding-top: 60px;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.rigth-befor p {
    color: #8692A6;
}

.formAfter {
    flex-direction: column;
    padding-top: 120px;
    padding-left: 60px;
}

.formAfter {
    display: flex;
    flex-direction: column;
}

.formAfter input {

    width: 426px;
    height: 64px;
    border-radius: 7px;
    border: 1px solid #8692A6;
    padding: 20px;
    margin-bottom: 20px;

}

.formAfter label {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #696F79;
}

.formAfter button {
    border: none;
    width: 426px;
    height: 64px;
    border-radius: 7px;
    color: aliceblue;
    font-size: 16px;
    background: #1565D8;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rigth-befor span {
    color: #1565D8;
}